
#active{
    color: #5f2000;
    background-color: #efe8c9;
    color: #5f2000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.navbar div{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 18pt;
    width: 100%;
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0%;
    background-color: #df4a00;x
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar li{
    float: left;
    list-style-type: none;
    text-align: center;
    display: block;
    background-color: #df4a00;
    color: #efe8c9; 
}
.navbar li a{
    color: #efe8c9;
    text-decoration: none;
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 18pt;
}
.navbar li a:hover{
    background-color: #5f2000;
    color: #efe8c9;
    text-decoration: none;
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 18pt;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


h1{
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 80pt;
    text-align: center;
    margin-top: 40px;
    color: #5f2000;
}
body{
    background-color: #efe8c9;
}
.home-grid{
    display: flex;
    flex-wrap: wrap;
}
.home-grid img{
    width: 90%;}
.home-grid{
    padding: 0%;
}
.home-grid li{
    display: block;
    width: 25%;
    text-align: center; 
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #5f2000;
    background-color: #efe8c9;
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 12pt;
    line-height: 16pt;
}
h2{
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 40pt;
    text-align: center;
    margin-left: 15px;
    color: #5f2000;
}
p{
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 16pt;
    text-align: center;
    margin-left: 20px;
    color: #5f2000; 
    line-height: 20pt;
    padding-left: 300px;
    padding-right: 300px;
}
footer{
    padding-top: 100px;
    padding-bottom: 10px;
    font-family: "dupincel-variable", sans-serif;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: 10pt;
    text-align: left;
    margin-left: 20px;
    color: #5f2000; 
}